.search-bar {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: #E5E5E5;
}

.location-search {
    width: 700px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.location-search::placeholder {
    color: #82b4ff;
    font-size: 18px;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 95px;
    margin-bottom: 10px;
    z-index: 1;
}

.left-side {
    position: fixed;
}

.filter-tab {
    width: 360px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: top;
    position: relative;
    background-color: #C4C4C4;
}

.filter {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.double-slider-label {
    border: 0;
    color: black;
    font-size: 18px;
    background-color: #C4C4C4;
}

.double-slider {
    width: 300px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 5px;
}

.select{
    width: 300px;
    height: 25px;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 5px;
}

.right-side{
    width: 100%;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    position: relative;
    margin-left: 370px;
    margin-right: 10px;
}

.house-display {
    height: 260px;
    background-color: white;
}

.house-pic {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #3d8aff;
}

.house-pic:hover {
    cursor: pointer;
}

.house-info{
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0 0 0 0;
}

.house-popup {
    width: 400px;
    height: 375px;
    display: none;
    flex-direction: column;
    position: fixed;
    border: 3px solid #3d8aff;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    background: white;
    z-index: 9;
    justify-content: center;
}

.house-offer {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 15;
}

.house-button {
    height: 40px;
    font-size: 15px;
    color: black;
    border: none;
    background: none;
}

.house-button:hover{
    background: #C4C4C4;
}