html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Open Sans, sans-serif;
    background-color: #E5E5E5;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: fixed;
    background-color: white;
    font-size: 18px;
    z-index: 2;
}

.title {
    font-size: 36px;
    color: #3d8aff;
    font-weight: bold;
    margin: auto;
    position: absolute;
}

.signin {
    width: 130px;
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    width: 100%;
    margin-top: 60px;
}

.mode-bar {
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 2;
    background-color: #E5E5E5;
}

.mode-container {
    width: 350px;
    height: 100%;
    position: relative;
    justify-content: space-around;
}

.selected {
    height: 40px;
    font-size: 24px;
    color: black;
    border: none;
    background: #82b4ff;
}

.unselected {
    height: 40px;
    font-size: 24px;
    color: black;
    border: none;
    background: none;
}

.unselected:hover{
    background: #C4C4C4;
}

.search-bar {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: #E5E5E5;
}

.location-search {
    width: 700px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.location-search::placeholder {
    color: #82b4ff;
    font-size: 18px;
}

/* The popup chat - hidden by default */
.chat-popup {
    width: 300px;
    height: 175px;
    display: none;
    position: fixed;
    bottom: 50px;
    left: 15px;
    border: 3px solid #3d8aff;
    background: white;
    z-index: 9;
}


/* Full-width textarea */
.chat-text {
    width: 295px;
    height: 170px;
    resize: none;
    margin: 0 0 0 0;
    border: none;
    background: white;
    font-size: 15px;
}

/* When the textarea gets focus, do something */
.chat-text:focus {
  outline: none;
}